/******** Global */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

*, ::before, ::after { box-sizing: border-box; margin: 0; padding: 0;} 

html {scroll-behavior: smooth; font-size: 16px; height: 100%;}
@font-face {
    font-family: "Norse";
    src: 
    url("../fonts/Norse-Bold.otf") format("opentype");}

body { font-family: "Andada Pro", serif; font-size: 1rem; overflow-x: hidden; position: relative;} 
a {text-decoration: none; color: unset;}
a:visited {color: unset;}

.debug { border: 2px solid red;}
/******* Global End */

/******* The Odin Project footer */
footer {
    position: fixed;
    bottom: 0;
    height: 3.5rem;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 0px -5px 5px 0px rgb(90, 90, 90, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: rgba(74, 74, 74, 0.7);
}
.footer-group {
    display: flex;
    align-items: center;
}
.odin-group, .profile-group{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.profile-image {
    height: 2rem;
}
.odin-group a {
    text-decoration: none;
}
.odin-logo {
    height: 2.5rem;
}
.odin-text {
    font-family: "Norse";
    color: #cc9543;
    font-size: 1rem;
    width: 7rem;
    margin-right: -0.5rem;
}
/******* Footer end */

/******* Header styles */

header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgba(90,90,90,0.3);
}
/******* Header End */

/******* Main Start */

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    padding-top: 4rem;
    padding-bottom: 5rem;
    width: 100%;
}
.intro-div {
    width: 400px;
    text-align: justify;
    margin: 0.75em 0;
}

.scoreboard-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 1em;
}
.scoreboard-1 {
    text-align: center;
}
.scoreboard-2 {
    display: flex;
    justify-content: space-evenly;
}
.button-group {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.button, .play-again-button{
    width: 70px;
    height: 40px;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-again-button {
    width: 274px;
}

.player-button:hover, .play-again-button:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.chosen-button {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}

.log-name {
    width: 400px;
    text-align: left;
    padding-top: 2em;
}
.log-ul {
    list-style-type: none;
    width: 400px;
}

.log-li {
    padding: 0.25em 0;
}

.dim-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
}

.endgame-pop-up {
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    animation: fade 1s ease forwards;
}

.result-message {
    font-size: 1.5em;
    padding: 0.25em;
    margin-bottom: 1em;

}
.hide {
    display: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 50em) {
    footer p {
        display: none;
    }
    .intro-div, .scoreboard-container, .button-group {
        width: 60%;
    } 
}

@media screen and (max-width: 30em) {
    footer span {
        display: none;
    }
    .intro-div, .scoreboard-container, .button-group, .log-name, .log-ul, .endgame-pop-up, .play-again-button {
        width: 90%;
    } 
}
